<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">EarnBux.com</a>
    
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </button>
    
    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a routerLink="/home" class="nav-item nav-link active">Home</a></li>
        <li><a routerLink="/earn" class="nav-item nav-link">Earn</a></li>
            </ul>
    </div>
  </div>
</nav>


</header>


<div class="container">

  <h1>User Registration</h1>

  <form>

      <div class="form-group">

          <label for="firstname">FirstName</label><br>

          <input type="text" name="firstname" class = "form-control" ngModel>

      </div>

      <pre></pre>

      <button class="btn btn-primary" type="submit">Submit</button>

  </form>

</div>





<router-outlet></router-outlet>


